<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">
    <span ng-bind-html="alert.msg"></span>
</alert>

<div>
    <h3>Reporting data</h3>

    <p class="lead">

    <form role="form">
        <div class="form-group">
            <table class="table">
                <thead>
                    <td>#</td>
                    <td>Loan id</td>
                    <td>First name</td>
                    <td>Last name</td>
                    <td>Amount</td>
                    <td>Fraud status</td>
                    <td>Decision taken</td>
                </thead>
                <tr data-ng-repeat="entry in reportingData | orderBy:'loanId'">
                    <td>{{ $index }}</td>
                    <td>{{ entry.loanId }}</td>
                    <td>{{ entry.firstName }}</td>
                    <td>{{ entry.lastName }}</td>
                    <td>{{ entry.amount }}</td>
                    <td>{{ entry.fraudStatus }}</td>
                    <td>{{ entry.decision }}</td>
                </tr>
            </table>
        </div>
        <button type="button" class="btn btn-default" ng-click="getReportingData()">Refresh</button>
    </form>

    <hr/>

</div>